body{
    background-color:hsl(30, 38%, 92%);
  }
  .container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    overflow: hidden;
  }
  .second-container{
    width: 400px;
    height: 600px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .image{
    width:400px;
    height:600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
  }
  .brand-type{
    font-family: 'Montserrat', sans-serif;
  }
  .product-name{
    font-family: 'Fraunces', serif;
  }
  .product-description{
    font-family: 'Montserrat', sans-serif;
  }
  .discounted-price-tag{
    font-family: 'Fraunces', serif;
  }
  .price-tag{
    font-family: 'Montserrat', sans-serif;
  }
  button{
    font-family: 'Montserrat', sans-serif;
  }
  
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }