body{
    background-color:hsl(30, 38%, 92%);
  }
  .container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .second-container{
    width: 400px;
    height: 600px;
    max-width: 400px;
    max-height: 600px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: start;
    padding-left:20px;
  }
  .image{
    width:400px;
    height:600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
  }
  .brand-type{
    font-family: 'Montserrat', sans-serif;
    margin:35px;
    padding-top:10px;
  }
  .product-name{
    font-family: 'Fraunces', serif;
    font-size:40px;
    margin: 25px;
    font-weight: 700;
  }
  .product-description{
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    max-width: 350px;
  }
  .discounted-price-tag{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    display: inline-block;
  }
  .price-tag{
    font-family: 'Montserrat', sans-serif;
    text-decoration-line: line-through;
    display: inline-block;
    margin-left: 30px;
  }
  button{
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: hsl(158, 36%, 37%);
    font-size: 20px;
    color:white;
    vertical-align: baseline;
    border-radius: 10px;
  }
  .shopping-cart{
    width:20px
  }
  
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

  @media screen and (min-width: 100px) and (max-width: 600px) {
   .container{
    flex-wrap: wrap;
    margin-top: 100px;
   }
   .second-container{
    padding-bottom: 30px;
    padding-right:5px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
   }
   .image{
    width:400px;
    height:600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:0px;
    border-top-right-radius: 10px;
  }
  }